<%- include('partials/header.ejs');%>
<%- include('partials/navbar.ejs');%>

<!--<div class="container"><br>
    <h3>Contato</h3>

        <% if( msgError != 'undefined') { %>
            <div class="erro"><%= msgError %></div>
        <% } %>

        <% if (msgR !== 'undefined') { %>
            <div class="msgEnviada"><%= msgR %></div>
        <% } %>

    <div class="shadow mb-5 bg-body rounded">
        <div class="card border-0">
            <div class="card-header">
                <form method="POST" action="recebidos">
                    <label>Email:</label>
                    <input type="text" placeholder="seu email aqui" class="form-control" name="email">
                    <label>Para: caroline.thais.dev@gmail.com</label>
            <div class="card-body">
                <label>Mensagem:</label>
                <textarea class="form-control" name="mensagem" id="mensagem"></textarea>
                <button class="btn btn-warning mt-2">Enviar</button>       
            </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .erro{
        background-color: red;
        color: white;
        padding-left: 1em;
    }

    .msgEnviada{
        background-color: #ffc107;
        padding-left: 1%;
    }
</style>

<%- include('partials/footer.ejs');%>

<script src="/tinymce/js/tinymce/tinymce.min.js"></script>

<script>

    tinymce.init({
        selector: "#mensagem",
    })

</script>-->

<div class="container"><br>
    <h3>Contato</h3>
    <div class="shadow mb-5 bg-body rounded">
        <div class="card border-0">
            <div class="card-header">       
                <form action="a67fe31628449f787a6d6fd6eb941e92" method="POST" />
                    <label>Email:</label>
                    <input type="hidden" name="_captcha" value="false">
                    <input type="email" placeholder="seu email aqui" class="form-control" name="email">
                    <input type="hidden" name="_cc" value="thaiscaroline.cms@gmail.com">
                    <label>Para: caroline.thais.dev@gmail.com</label>
                    <div class="card-body">
                        <label>Mensagem:</label>
                        <textarea class="form-control" name="mensagem"></textarea>
                        <button class="btn btn-warning mt-2">Enviar</button>       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer.ejs');%>

